<div class="balloon-card-item">

    <div class="balloon-card-item-line">
        {{ partial "balloon/line.html" false }}
        {{ partial "balloon/dot.html" }}
        {{ partial "balloon/line.html" .last_item }}
    </div>

    <div class="balloon-card-item-content">
        <h5>
            {{ if eq .ctx.Params.episodeType "bonus" }}<strong>Bonus: </strong>{{ end }}
            {{ if and ( eq .ctx.Params.episodeType "full" ) .ctx.Params.episode }}<strong>Episode {{.ctx.Params.episode}}: </strong>{{ end }}
            {{ .ctx.Title }}
        </h5>
        {{- partial "audio-player.html" .ctx }}
        {{- partial "content.html" (dict "ctx" .ctx "content" .ctx.Content) -}}
    </div>
</div>
